---
import Layout from '@layouts/Layout.astro'

import Navigation from '@components/Navigation.astro'
import Hero from '@components/Hero.astro'
import Projects from '@components/Projects.astro'
import ExternalLink from '@components/ui/ExternalLink.astro'
---

<Layout
  title="Inicio | Porfolio"
  description="FullStack Developer | Dario Javier Piñeyro"
>
  <Navigation />

  <main class="max-w-5xl px-4 sm:px-6 mx-auto">
    <Hero />
    <Projects />
  </main>
  <footer class="flex justify-center text-gray-100 py-6 px-4 sm:px-16">
    Sitio creado por <ExternalLink
      className="underline ml-1 hover:text-cyan-500"
      url="https://github.com/javierpineyro"
    >
      Javier Piñeyro
    </ExternalLink>
    🥇
  </footer>
</Layout>
