---
type Props = {
  url: string
  seoTitle?: string
}
const { url, seoTitle } = Astro.props
---

<a
  class="transition hover:bg-cyan-500 bg-black text-whity-300 hover:text-white rounded px-4 py-1 flex justify-center items-center gap-2 group"
  href={url}
  target="_blank"
  title={seoTitle}
  rel="noopener noreferrer"
>
  <slot />
</a>
