---
import Section from '@components/ui/Section.astro'
---

<Section
  id="hero"
  className="text-white animate-fadeIn animate-delay-[.2s] flex justify-center items-center font-extrabold p-4 mx-auto [&>div>span]:text-3xl gap-2 sm:max-w-5xl md:[&>div>span]:text-6xl md:gap-5 md:pt-[200px]"
>
  <h1 id="maintitle" class="text-3xl sm:text-4xl md:text-7xl">
    <span class="hidden sm:inline-block">Hey!</span>
    Soy Javier Piñeyro
  </h1>
  <div id="mainlabel" class="w-fit lg:text-5xl mb-10 sm:mb-14 overflow-hidden">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-light-main via-mid-main to-main"
    >
      Fullstack Developer
    </span>
    <span>💻</span>
  </div>
  <!-- Here goes the code below -->
  <div class="px-2 py-0 text-center">
    <p class="text-[15px] font-semibold max-w-[50ch] text-lightGray sm:text-xl">
      Especialista en <span class="text-white underline">Frontend</span> con fuertes
      conocimientos en <span class="text-white underline">Backend</span> y <span
        class="text-white underline">Bases de Datos</span
      >
    </p>
  </div>
</Section>

<style>
  @media (max-width: 360px) {
    #maintitle {
      font-size: 1.6rem;
    }
    #mainlabel span {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 555px) and (max-width: 630px) {
    #maintitle {
      font-size: 3rem;
    }
    #mainlabel span {
      font-size: 2.8rem;
    }
  }
</style>