---
import LinkNav from '@components/ui/LinkNav.astro'
import { Links } from 'src/utils/data'
---

<header
  class="flex flex-col z-50 sm:flex-row justify-center items-center py-4 px-4 sm:px-16 sm:fixed w-full sm:right-0 sm:top-0 backdrop-blur-sm shadow-md bg-navigation/95"
>
  <nav
    class="flex flex-wrap gap-3 justify-center mt-1 sm:mt-0 sm:flex-nowrap sm:gap-6 items-center text-white sm:leading-8 font-semibold"
  >
    {Links.map((link) => <LinkNav url={link.url} label={link.label} />)}
    <!-- <span class="hidden sm:inline-block select-none mx-1">|</span> -->
    <div class="hidden sm:flex justify-center items-center">
      {
        /**
         * 
         * <a
        class="py-1 px-3 text-main transition text-[1rem] sm:text-[1.2rem] hover:text-white font-semibold"
        href="/cv-piñeyrodario.pdf"
        download>Descargar cv</a>
         */
      }
    </div>
  </nav>
</header>

<style>
  @media (min-width: 640px) and (max-width: 710px) {
    picture {
      display: none;
    }
  }
</style>
