---
import LinkNav from '@components/ui/LinkNav.astro'
import Github from '@components/icons/Github.astro'
import LogosLink from '@components/ui/LogosLink.astro'

import { Links } from 'src/utils/data'
---

<header
  class="flex flex-col sm:flex-row justify-between items-center py-4 px-4 sm:px-16 sm:sticky sm:top-0 backdrop-blur-2xl bg-zinc-900/95"
>
  <div
    class="w-20 h-20 rounded-full md:hover:scale-110 transition overflow-hidden"
  >
    <img
      class="w-full h-full object-cover"
      src="./foto-perfil.jpg"
      alt="Foto de Javier Piñeyro"
      title="Este soy yo :D"
    />
  </div>

  <nav
    class="flex flex-wrap gap-3 mt-4 justify-center sm:mt-0 sm:flex-nowrap sm:gap-4 items-center text-gray-100 sm:leading-6"
  >
    {Links.map((link) => <LinkNav url={link.url} label={link.label} />)}
    <span class="hidden sm:inline-block select-none mx-1">|</span>
    <LogosLink url="https://github.com/javierpineyro">
      <Github
        width="30"
        height="30"
        seoTitle="Repository"
        classNames="hidden sm:inline-block fill-whity-300 hover:fill-white"
      />
    </LogosLink>
  </nav>
</header>
