---
import Section from '@ui/Section.astro'
import Subtitle from '@ui/Subtitle.astro'
import Git from '@components/icons/Git.astro'
import NextJs from '@components/icons/NextJs.astro'
import TailwindCss from '@components/icons/TailwindCss.astro'
import React from '@components/icons/React.astro'
import NodeJs from '@components/icons/NodeJs.astro'
import Javascript from '@components/icons/Javascript.astro'
import Typescript from './icons/Typescript.astro'
import MiniBox from './ui/MiniBox.astro'
---

<Section id="tecnologias" className="gap-6">
  <Subtitle>Tecnologías</Subtitle>
  <div class="flex flex-wrap gap-2">
    <MiniBox label="NextJs">
      <NextJs />
    </MiniBox>
    <MiniBox label="Typescript">
      <Typescript />
    </MiniBox>
    <MiniBox label="React">
      <React />
    </MiniBox>
    <MiniBox label="Javascript">
      <Javascript />
    </MiniBox>
    <MiniBox label="NodeJs">
      <NodeJs />
    </MiniBox>
    <MiniBox label="Tailwind">
      <TailwindCss />
    </MiniBox>
    <MiniBox label="Git">
      <Git />
    </MiniBox>
  </div>
</Section>
