---
type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-j.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <div class="animate-fadeIn min-h-screen">
      <p class="before:content-['🔨'] w-full text-center text-yellow-300 p-3">
        Sitio web en construcción🔨
      </p>
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    background-color: #151515;
    scroll-behavior: smooth;
  }
  :global(html) {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
    /* @font-face {
      font-family: 'GeneralSans';
      src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
      font-style: normal;
      font-weight: 300 900;
    } */
  }
</style>
