---
type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
const IS_DEVELOPMENT = import.meta.env.DEV
---

<html class="scroll-smooth" lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-j.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body id="body_to_scroll">
    <div class="relative animate-fadeIn min-h-screen">
      {
        !IS_DEVELOPMENT && (
          <p class="fixed z-9999 bg-navigation/95 rounded-xl left-8 bottom-8 before:content-['🔨'] text-center text-yellow-300 border-[1px] border-yellow-300 p-3">
            Sitio web en construcción🔨
          </p>
        )
      }
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    background-color: #151515;
    scroll-behavior: smooth;
  }
  :global(html) {
    scroll-behavior: smooth;
  }

  #body_to_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #151515;
  }

  #body_to_scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #151515;
  }

  #body_to_scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fb7185;
  }

  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
    /* @font-face {
      font-family: 'GeneralSans';
      src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
      font-style: normal;
      font-weight: 300 900;
    } */
  }
</style>
