---
type Props = {
  url: string
  seoTitle?: string
  className?: string
}
const { url, seoTitle, className } = Astro.props
---

<a
  class={`group transition flex justify-center items-center gap-2 ${className}`}
  href={url}
  target="_blank"
  title={seoTitle}
  rel="noopener noreferrer"
>
  <slot />
</a>
