---
type Props = {
  url: string
  label: string
}

const { url, label } = Astro.props
---

<a
  href={url}
  class={`link text-lightGray text-[1rem] sm:text-[1.2rem] `}
>
  {label}
</a>

<style>
  a {
    font-size: 18px;
    text-decoration: none;
    font-family: inherit;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

  a:focus,
  a:hover {
    color: #fb7185;
  }

  a:focus:after,
  a:hover:after {
    width: 100%;
    left: 0%;
  }

  a:after {
    content: '';
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fb7185;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  @media (min-width: 640px) and (max-width: 710px) {
    .link {
      font-size: 1.1rem;
    }
  }
</style>
