---
type Props = {
  id: string
  className: string
}

const { id, className } = Astro.props
---

<section id={id} class={`flex flex-col text-white my-10 sm:my-20 ${className}`}>
  <slot />
</section>
