---
type Props = {
  id: string
  className: string
}

const { id, className } = Astro.props
---

<section
  id={id}
  class={`flex flex-col text-white m-0 pt-14 sm:pt-[115px] ${className}`}
>
  <slot />
</section>
